*
!.gitignore
!.config/
!.local/
.config/*
!.config/i3/
!.config/kitty/
!.config/polybar/
!.config/fish/
!.config/nvim/
!.config/rofi/
.local/*
!.local/share/
.local/share/*
!.local/share/icons/
!.local/share/themes/
